# Port to run the simulator backend web server on (default: 3000)
PORT=3000

# Name of the instance (instance_1 or instance_2) to decide split workload
INSTANCE_NAME=instance_1

# Dashboard password for route protection
DASHBOARD_PASSWORD=Ankitsin

# Render PostgreSQL connection string
DATABASE_URL=postgresql://user:password@localhost:5432/dbname

# Initial configuration to seed the database if it is empty (JSON string)
INITIAL_CONFIG='[{"name":"client_primary","refreshToken":"your_refresh_token_here","scale":18}]'
